@import "../../assets/scss/colors.scss";
@import "../../assets/scss/responsive.scss";

.separador{
    background-color: $sombra-claro;
    width: 90%;
    margin: 0 auto;
    
    hr{
        border: 1.5px solid;
    }
}