@import "../../../public/scss/colors.scss";
@import "../../../public/scss/responsive.scss";

.titulo{
    display:grid;
    grid-template-columns: 50% 50%;
    
    .titulo-left{
        margin-top: 15px;
        height: 100%;
        margin: 0 auto;
        width: 100%;

        h5{
            font-size: 0.9em;
            font-weight: 700;
            width: 100%;
            color: $cinza-escuro;

            @include tn{
                font-size: 7px;
            }
            @include sm{
                font-size: 7px;
            }
            @include md{
                font-size: 10px;
            }
            @include lg{
                font-size: 12px;
            }
            
        }
        h5:hover{
            cursor: pointer;
            text-decoration: underline;
            opacity: 0.9;
        }
        h2{
            font-size: 1em;
            margin-top: 9px;
            padding-left: 10px;
            color: $preto;

            @include sm{
                font-size: 14px;
            }
            @include md{
                font-size: 18px;
            }
            
            @include lg{
                font-size: 22px;
            }
            
            @include xl{
                font-size: 26px;
            }
        }
    }
    .titulo-right{
        color: $cinza-claro;
        display: flex;
        justify-content: end;
        align-items: end;
        font-weight: 700;

        .titulo-right-result{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 0px;
            margin-right: 12px;

            @include sm{
                margin: 0px;
            }

            .titulo-right-result-icon{
                margin-right: 6px;
                margin-bottom: 6px;
                font-size: 1.6rem;

                @include tn{
                    font-size: 0.8em;
                    margin-bottom: 3px;
                }
                @include sm{
                    font-size: 0.9em;
                    margin-bottom: 3px;
                }
            }
            span{
                font-size: 0.8rem;
                
                @include tn{
                    font-size: 0.5em;
                }
                @include sm{
                    font-size: 0.6em;
                }
            }
        }
    }
}