@import "../../../public/scss/colors.scss";
@import "../../../public/scss/responsive.scss";

.header{
    background-color: $preto;
    display: flex;
    justify-content: center;
    padding:5px 0;
    width: 100%;

    .header-icon{
        color: $branco;
        font-size: 0.8rem;
        display:grid ;
        grid-template-columns: 22px 22px 22px 22px;
    }
}

.header-content{
    background-color: $sombra-claro;
    justify-content: space-evenly;
    border-bottom: 1px $sombra-escuro solid;
    
    .header-content-nav{
        margin: 0 auto;
        padding: 0;
        min-width: 60%;
        display: grid;
        
        grid-template-columns: 50% 50%;

        @include sm{
            width: 100%;
            grid-template-columns: 100%;
        }
        @include md{
            width: 85%;
        }
        @include lg{
            width: 75%;
        }
        @include xl{
            width: 65%;
        }
        @include xxl{
            width: 55%;
        }
        
        .header-content-nav-left{
            height: 44px;

            img{
               display: none;

                @include md{
                    display: block;
                    width: auto;
                    height: 35px;
                    margin-right: 10px;
                    margin-top: 4px;
                }

                @include lg{
                    display: block;
                    width: auto;
                    height: 35px;
                    margin-right: 10px;
                    margin-top: 4px;
                }

                @include xl{
                    display: block;
                    width: auto;
                    height: 35px;
                    margin-top: 4px;
                    margin-right: 10px;
                }                
            }

            button{
                outline-style: none;
                box-shadow: 0;
                border: 0;

                :focus{
                    box-shadow: 0px;
                    border: 0px;
                    outline: 0;
                }
                :active{
                    box-shadow: 0px;
                    border: 0px;
                    outline: 0;
                }
            }
            .nav-text {
                font-weight: 300;
                font-size: 18px;
                letter-spacing: 1.5px;

                ul li a{
                    color: $preto;
                    border-bottom: 2px $sombra-claro solid;
                }
                ul li a:hover{
                    color: $vermelho-claro;
                    border-bottom: 2px $vermelho-claro solid;
                }
            }
        }

        .header-content-nav-right{
            justify-content: end;
            height: 44px;

            form{
                height: 42px;
                align-items: center;
                justify-content: center;
                margin-right: -12px;

                @include sm{
                    width: 100vh;
                }

                .nav-search{
                    font-weight: 500;
                    font-size: 16px;
                    height: 82%;
                    padding: 5px 30px 5px 20px;
                    position: relative;
                    border: 1px $cinza-claro solid;
                    border-radius: 7px;
                    background-color: $branco;
                    color:$cinza-escuro;
                    min-width: 200px;

                    @include sm{
                        margin-left: 30px;
                        width: 100%;
                    }
                    @include md{
                        width: 100%;
                    }
                    
                }
                
                .nav-form-icon{
                    position: relative;
                    right: 30px;
                    top: 0px;
                    color: $cinza-escuro;
                    cursor: pointer;
                    :hover{
                        color:$cinza-claro;
                    }
                }
            }
            

            .nav-button{
                display: grid;
                grid-template-columns: 50% 50%;
                gap: 7px;
                padding: 0px;

                @include sm{
                    gap: 5px;
                }
                @include md{
                    gap: 6px;
                }

                .nav-button-book-marker button{
                    padding-top:6px ;
                    padding-bottom: 6px;

                    @include sm{
                        display: none;
                    }
                }

                .nav-button-user button{
                    padding: 6px 17px 6px 17px;
                    
                    @include sm{
                        display: none;
                    }
                }
            }
        }
    }
}
::-webkit-input-placeholder {
    color: $cinza-claro;
}
.nav-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
}  
 