
$vermelho-forte: rgba(197, 5, 5, 0.964);
$vermelho-escuro: #d70101e9;
$vermelho-claro: #CF4B44;

$branco: #FBFBFB;
$branco-gelo: #F4F4F4;

$sombra-claro:#fcfcfc;
$sombra-escuro: #e5e5e5;

$cinza-claro: #979797;
$cinza-escuro: #747474;

$preto: #1D1D1D;
$preto-fosco: #2c2c2c;
