@import "./colors.scss";
@import "./responsive.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  textarea:focus, input:focus, select:focus {
    box-shadow: 0;
    border: 0;
    outline: 0;
  }

  .button-default{
    background-color: $vermelho-claro;
    border: 1px solid $vermelho-claro;
    color:white;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: .8em;
    width: auto;
    transition: all .7s;
    cursor: pointer;
  }
  .button-default:hover{
      background-color: $vermelho-escuro;
      border-color: transparent;
  }

  .button-default-stroke{
    background-color: $branco;
    border-color: $preto-fosco;
    color: $preto-fosco;
  }
  .button-default-stroke:hover{
    color: $vermelho-escuro;
    border-color: $vermelho-escuro;
    background-color: $branco;
  }
  .button-default-small{
    font-size: .7em;
  }
  .button-default-big{
    font-size: 1em;
  } 

  #NavBar{
    
  }

  #root{
   
    // ajustes tecnicos
    margin-top: 70px;
    min-height: 100vh;
    .main{
      background-color: $branco;
    }
  }
  

  #Footer{
    
  }

  ::-webkit-scrollbar{
    width: 12px;
    background-color: $sombra-escuro;    
  }
  ::-webkit-scrollbar-thumb{
    background-color: $cinza-claro;
    
  }
 
}
