@import "../../../public/scss/colors.scss";
@import "../../../public/scss/responsive.scss";

.fundo-privacidade{
    margin: 0px auto;
    padding: 30px 10px 5px 10px;
    min-width: 60%;

    @include sm{
        width: 95%;
        padding: 0px;
        padding-top: 15px;
    }
    @include md{
        width: 85%;
        padding-top: 15px;
    }
    @include lg{
        width: 75%;
        padding-top: 30px;
    }
    @include xl{
        width: 65%;
    }
    @include xxl{
        width: 55%;
    }
}