@import "../../assets/scss/colors.scss";
@import "../../assets/scss/responsive.scss";

.copyright{
    background-color: $preto-fosco;
    color: $cinza-claro;
    min-height: 60px;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    font-size: 0.8em;

    .copy-text{

    }
    .copy-menu{
        
        text-align: right;
        a{
            color: $cinza-claro;
            text-decoration: none;
            margin: 0px 10px;

        }
        a:hover{
            color: $branco;
        }
    }
}